<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form action="{{url_for("create_student")}}" method="post">
        <input type="text" placeholder='First Name' name="first_name" id=""><br><br>
        <input type="text" placeholder='Last Name' name="last_name" id=""><br><br>
        <input type="text" placeholder='Email' name="email" id=""><br><br>
    <input type="submit" value="Add Student">
    </form>
    
</body>
</html>